.section {
	display: flex;
	justify-content: space-between;
}

.skills-container {
	background-color: white;
	display: inline-block;
	width: 30vw;
	min-height: fit-content;
	margin: 10vw;
	padding: 10px;
	border-radius: 4px;
}

.technologies {
	float: left;
}


.soft-skills {
	float: right;
}

.skills-list {
	list-style: none;
}

.skills-list li {
	padding: 8px;
}


.technologies li {
	padding: 15px;
}

.tech-icon {
	margin-right: 40px;
}
