
.header-container {
	width: 50%;
    margin-left: 20%;
    border-bottom: 2px solid #790c5a;
}

.skills {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	min-height: calc( 100vh - 70px );
}

.skills-container {
	width: 30%;
	min-height: 80vh;
	padding: 10px;
}

.skills-list {
	list-style: none;
	padding: 0;
}

.skills-list li {
	padding: 8px;
}

.tech-icon {
	margin-right: 30px;
}

@media screen and (max-width: 900px) {
	.skills {
		flex-direction: column;
		justify-content: center;
	}

	.skills-container {
		width: 80%;
		min-height: 0;
		height: fit-content;
		margin: 0;
	}
}
