.welcome {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding-top: 70px;
}

.profile-img-container {
	width: 30%;
	min-width: 400px;
}
.profile-pic {
	border-radius: 50%;
	width: 100%;
	height: auto;

}


.welcome-text-container {
	width: 40%;
	border-bottom: 3px solid #790c5a;
}

@media screen and (max-width: 900px) {
	.welcome {
		flex-direction: column;
		justify-content: center;
	}

	.profile-img-container {
		width: 80%;
	}

	.welcome-text-container {
		width: 80%;
	}
}