.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 70px;
	background-color: #790c5a ;
	z-index: 1;
	font-family: 'Architects Daughter', cursive;
	text-transform: uppercase;
	font-size: 1.2em;
}

@media screen and (max-width: 450px) {
	.nav {
		justify-content: space-between;
	}
}