.project-container {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin: 40px auto 0 auto;
	border-bottom: 1px solid #B4829F;
}

.project-content {
	display: flex;
}

.link-container {
	width: 30%;
	margin: 10px;
}

.description {
	width: 50%;
	margin: 10px;
}

.description h4 {
	margin: 0;
}

.project-container img {
	width: 100%;
	/* width: 300px;
	height: 300px; */
	border-radius: 5px;
}

.project-header-container {
	display: flex;
	justify-content: flex-start;
}

.project-icons-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
    width: 10%;
}

@media screen and (max-width: 450px) {
	.project-container {
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.link-container {
		width: 100vw;
		display:flex;
		justify-content: center;
	}
	.description {
		width: 90vw;
		margin: auto;
	}
	.project-header-container {
		justify-content: space-evenly;
		order: -1;
		width: 100vw;
		align-items: center;
	}
	
	.project-icons-container {
		width: 20%;
	}

	.project-content {
		flex-direction: column;
	}
}